<a href="https://colab.research.google.com/github/jose-luis15/python-en-ArcGis/blob/master/CHRISTIAN_EJERCICIOS_6_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
t = ["deportivo","casual","elegante"]
p = [50,60,70]
precios = pd.DataFrame({"TIPO":t,"PRECIO":p})
precios

        TIPO  PRECIO
0  deportivo      50
1     casual      60
2   elegante      70

In [0]:
c = ["1-10","11-16","17 a mas"]
d = [3,5,7]
descuento = pd.DataFrame({"CANTIDAD":c,"DESCUENTO(%)":d})
descuento

   CANTIDAD  DESCUENTO(%)
0      1-10             3
1     11-16             5
2  17 a mas             7

In [0]:
tipo = input("INGRESE EL TIPO DE PRENDA: ")
cantidad = int(input("INGRESE LA CANTIDAD DE PRENDAS: "))

INGRESE EL TIPO DE PRENDA: casual
INGRESE LA CANTIDAD DE PRENDAS: 12

In [0]:
if tipo == "deportivo":
     preciof = cantidad*precios.iloc[0,1]
elif tipo == "casual":
     preciof = cantidad*precios.iloc[1,1]
elif tipo == "elegante":
     preciof = cantidad*precios.iloc[-1,1]
print("Precio final: s/.",preciof)

if 1<=cantidad<=10 :
     desc = 3*preciof/100
elif 11<=cantidad<=16 :
     desc = 5*preciof/100
elif 17<=cantidad :
     desc = 7*preciof/100
print("descuento: s/.",desc)

print("CANCELAR: S/.",preciof-desc)

Precio final: s/. 720
descuento: s/. 36.0
CANCELAR: S/. 684.0

In [0]:
#EJERCICIO NÂ°7

In [18]:
P = ["17-20","14-16","12-13","0-11"]
C = ["A","B","C","D"]
categoria = pd.DataFrame({"PROMEDIO":P,"CATEGORIA":C})
categoria

  PROMEDIO CATEGORIA
0    17-20         A
1    14-16         B
2    12-13         C
3     0-11         D

In [20]:
print("INGRESE SUS NOTAS SEPARADAS POR COMAS(Ejemplo : 12,14,10,9)")
notas = input()
notas = notas.split(",")

suma = 0
for x in notas:
  suma += float(x)
promedio = suma/len(notas)
print("PROMEDIO =",promedio)

if 0<=promedio<=11 :
     categoria = "D"
elif 12<=promedio<=13 :
     categoria = "C"
elif 14<=promedio<=16 :
     categoria = "B"
elif 17<=promedio<=20 :
     categoria = "A"
print("CATEGORIA: ",categoria)

INGRESE SUS NOTAS SEPARADAS POR COMAS(Ejemplo : 12,14,10,9)
12,13,17
PROMEDIO = 14.0
CATEGORIA:  B