<a href="https://colab.research.google.com/github/jose-luis15/python-en-ArcGis/blob/master/CHRISTIAN_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
t = ["deportivo","casual","elegante"]
p = [50,60,70]
precios = pd.DataFrame({"TIPO":t,"PRECIO":p})
precios

        TIPO  PRECIO
0  deportivo      50
1     casual      60
2   elegante      70

In [3]:
c = ["1-10","11-16","17 a mas"]
d = [3,5,7]
descuento = pd.DataFrame({"CANTIDAD":c,"DESCUENTO(%)":d})
descuento

   CANTIDAD  DESCUENTO(%)
0      1-10             3
1     11-16             5
2  17 a mas             7

In [4]:
tipo = input("INGRESE EL TIPO DE PRENDA: ")
cantidad = int(input("INGRESE LA CANTIDAD DE PRENDAS: "))

INGRESE EL TIPO DE PRENDA: casual
INGRESE LA CANTIDAD DE PRENDAS: 12

In [5]:
if tipo == "deportivo":
     preciof = cantidad*precios.iloc[0,1]
elif tipo == "casual":
     preciof = cantidad*precios.iloc[1,1]
elif tipo == "elegante":
     preciof = cantidad*precios.iloc[-1,1]
print("Precio final: s/.",preciof)

if 1<=cantidad<=10 :
     desc = 3*preciof/100
elif 11<=cantidad<=16 :
     desc = 5*preciof/100
elif 17<=cantidad :
     desc = 7*preciof/100
print("descuento: s/.",desc)

print("CANCELAR: S/.",preciof-desc)

Precio final: s/. 720
descuento: s/. 36.0
CANCELAR: S/. 684.0